@Model List<Category>
    @{ 
        ViewData["Title"] = "Categories";

    }

    <h1 class="display-4" >Category List</h1>
<hr/>
<table class="table table-dark">
    <tr>
        <td>Category Id</td>
        <td>Category Name</td>
        <td>Category Desvription</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @item.CategoryId </td>
    <td>  @item.GategoryName </td>
    <td> @item.CategoryDescription </td>
</tr>
    }



</table>